@{
    Layout = "Master/Master";
    ViewBag.Title = "Member .:. Notification .:. Create";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Notification.NotificationDetailModel>
<div class="col-xs-12 content">
    <h1>New Notification</h1>
    @Html.Partial("Partials/NotificationForm.cshtml", Model)
</div>