@{
    Layout = "Master/Master";
    ViewBag.Title = "Maintenance";
    ViewBag.App_Maintenance = true;
}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><h1 class="panel-title maintenance"><span class="glyphicon glyphicon-info-sign"></span> Mainenance Mode</h1></div>
        <div class="panel-body">@Model</div>
    </div>
</div>