@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Search.SearchModel>
@{
    Layout = "Master/Master";
    ViewBag.Title = "Search";
    ViewBag.NavBar_ShowFilter = Model.HasFilter;
}
<div class="col-xs-12 page-search">
    @if (Model.HasError)
    {
        <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
    }
    else
    {
        @Html.Partial("Partials/Search/Bar", Model)
        <div class="row row-offcanvas row-offcanvas-left spacer-10">
            @if (Model.HasFilter)
            {
                @Html.Partial("Partials/Search/Filter", Model)
            }
            @Html.Partial("Partials/Search/List", Model)
        </div>
    }
</div>
