@{
    Layout = "Master/Master";
    ViewBag.Title = "Member .:. Server";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Server.ServerDetailModel>
<div class="col-xs-12 content">
    <h1>Add a Server</h1>
        @Html.Partial("Partials/Server/ServerForm.cshtml", Model)
    <hr/>
    <p>Note: If you wish any other features, e.g. blacklist some directories from crawler, please use the feedback form on the <a href="@Url.Content("~/Info")">Info Page</a>.</p>
</div>