@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Search.SearchModel>
<div class="row search-bar">
    <div class="col-xs-12">
        <form class="form-search" method="POST" id="search">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search" value="@Model.Keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-12">
        @Model.Count Results Found
        @if (Model.HasSearchParameters)
        {
            <div class="pull-right"><a href="@Model.GetNotificationUrl()">Save as Notification</a></div>
        }
    </div>
</div>