@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LANSearch.Models.Search.SearchModel>
<div class="col-xs-12 col-sm-8 col-md-9">
    @if (Model.HasResults)
    {
        <ul class="list-group result-list">
            @foreach (var item in Model.Results)
            {
                @Html.Partial("Partials/Search/ListItem", item)
            }
        </ul>
        @if (Model.HasPaging)
        {
            <ul class="pagination">
                @foreach (var page in Model.GetPages())
                {
                    <li @(string.IsNullOrWhiteSpace(page.CssClass) ? "" : "class=" + page.CssClass)><a href="@page.Url">@page.Label</a></li>
                }
            </ul>
        }
    }
</div>