<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Redis" />
  </extensions>
  <targets>
    <target xsi:type="File" name="logfile" fileName="lansearch.log" />
    <target xsi:type="Console" name="console" />
    <target xsi:type="Redis" name="redis" host="127.0.0.1" key="logstash" dataType="list" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="redis" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>