<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="logfile" fileName="lansearch.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${onexception:EXCEPTION\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:innerExceptionSeparator=¦}}" />
    <target xsi:type="File" name="logfile-exceptions" fileName="exceptions.log" layout="${longdate}|${logger}|${message}|${exception:maxInnerExceptionLevel=5:innerFormat=tostring:format=tostring}" />
    <target xsi:type="File" name="logfile-request" fileName="requests.log" />
    <target xsi:type="Console" name="console" />

    <target name="mRequests" xsi:type="MethodCall" className="LANSearch.Hubs.LogHub, LANSearch" methodName="LogRequest">
      <parameter layout="${date}" />
      <parameter layout="${message}" />
    </target>

    <target name="mLog" xsi:type="MethodCall" className="LANSearch.Hubs.LogHub, LANSearch" methodName="Log">
      <parameter layout="${date}" />
      <parameter layout="${level}" />
      <parameter layout="${callsite}" />
      <parameter layout="${message}" />
    </target>
  </targets>
  <rules>
    <logger name="LANSearch.Data.Mail.MailManager-MailLog" minlevel="Trace" writeTo="console" final="true" />
    <logger name="LANSearch.OwinMiddleware.LoggerMiddleware*" minlevel="Info" writeTo="logfile-request" />
    <logger name="LANSearch.OwinMiddleware.LoggerMiddleware*" minlevel="Info" writeTo="mRequests" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="mLog" />
    <logger name="*" minlevel="Warn" writeTo="console" />
    <logger name="*" writeTo="logfile-exceptions">
      <filters>
        <when condition="length('${exception}') > 0" action="Log" />
        <when condition="length('${exception}') == 0" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>