<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="logfile" fileName="lansearch.log" />
    <target xsi:type="File" name="logfile-request" fileName="requests.log" />
    <target xsi:type="Console" name="console" />

    <target name="mRequests" xsi:type="MethodCall" className="LANSearch.Hubs.LogHub, LANSearch" methodName="LogRequest">
      <parameter layout="${date}" />
      <parameter layout="${message}" />
    </target>

    <target name="mLog" xsi:type="MethodCall" className="LANSearch.Hubs.LogHub, LANSearch" methodName="Log">
      <parameter layout="${date}" />
      <parameter layout="${level}" />
      <parameter layout="${callsite}" />
      <parameter layout="${message}" />
    </target>
  </targets>
  <rules>
    <logger name="LANSearch.LoggerMiddleware*" minlevel="Info" writeTo="logfile-request" />
    <logger name="LANSearch.LoggerMiddleware*" minlevel="Info" writeTo="mRequests" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="mLog" />
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>